.list-wrapper {
    border-bottom: 1px solid #efefef;
}

a {
    text-decoration: none;
    color: #49c;
}

a:hover {
    text-decoration: underline;
    color: lightseagreen;
}

.stories {
    text-align: center;
    margin: 22px;
}