.list-wrapper {
    border-bottom: 1px solid #efefef;
}

.stories {
    text-decoration: none;
    color: #49c;
    text-align: center;
    margin: 22px;
}


.stories:hover {
    text-decoration: underline;
    color: lightseagreen;
    cursor: pointer;
}
