.list-wrapper {
    border-bottom: 1px solid #efefef;
}

.stories {
    text-decoration: none;
    color: #49c;
    text-align: center;
    font-size: 20px;
    margin: 22px;
    margin-bottom: 2px;
}

.stories:hover {
    text-decoration: underline;
    color: lightseagreen;
    cursor: pointer;
}