.container-avatar {
    padding-right: 30px;
}

.user-img {
    width: 100px;
    height: 85px;
}

.container-avatar p {
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.written-by {
    font-size: 15px;
    color: #49c
}

.written-on {
    font-size: 14px;
    color: gray
}