.header {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    font-weight: 600;
    background-color: #424242;
    color: white;
    margin-top: 0px;
    justify-content: center;
}

.title-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-comment{
    font-size: 25px;
}
.author{
    margin-top:-20px;
    color:#49c;
}